<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Starter Template - Materialize</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)

</head>
<body class="login-background">
    <div class="login-container">
        <div class="row center">
            <div class="col l4 login-box">
                <div class="card-panel z-depth-3 white hoverable ">
                    <div class="row login-logo">
                        <span class="card-title"><img src="http://placehold.it/250x50"></span>
                    </div>
                    <div class="row left-align">
                        <form autocomplete="off" method="POST" class="col l12">
                            
                            <div class="row">
                                <div class="col s12">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="validate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <label for="password">Password</label>
                                    <input id="password" type="password" class="validate">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <button type="button" onclick="return false;" class="waves-effect waves-light btn btn-login-full-width btn-login">Entrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                   
                   
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    <!--  Scripts-->
    <script type="text/javascript" src="~/Scripts/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
