@font-face {
    font-family: 'Material-Design-Icons';
    src: url('../fonts/bootstrap-material-design/Material-Design-Icons.woff') format('woff'), 
         url('../fonts/bootstrap-material-design/Material-Design-Icons.svg') format('svg'), 
         url('../fonts/bootstrap-material-design/Material-Design-Icons.ttf') format('truetype'), 
         url('../fonts/bootstrap-material-design/Material-Design-Icons.eot') format('embedded-opentype');
}
@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), 
         url('../fonts/fontawesome-webfont.svg') format('svg'), 
         url('../fonts/fontawesome-webfont.ttf') format('truetype'), 
         url('../fonts/fontawesome-webfont.woff') format('woff'), 
         url('../fonts/FontAwesome.otf') format('opentype');
}